GammaTesting.jl
*.png
*.exr
*.pb.gz

in_one_weekend/target
# .vscode/

c++/x64
c++/.vs
c++/VTune*
c++/godbolt.zip
c++/perf.data*
c++/cachegrind*
c++/callgrind*

c++/*.exe
c++/*.out

c++/*.ppm

c++/.fuse*

# https://stackoverflow.com/questions/19023550/how-do-i-add-files-without-dots-in-them-all-extension-less-files-to-the-gitign
# Ignores files in c++ without extension
c++/*
c++/!*/
c++/*.*